*.a
*.asm
*.def
*.dll
*.dylib
*.exe
*.lib
*.o
*.so
*~
/bin/
/build/
/build-x64/
/build-aarch64/
/build-riscv64/
/doc/Doxyfile
/src/ll/*.s
/src/ll/*.S
/.vscode/

.travis.yml

# generated header
config.h

# my test vector generator
test_vector.py
